body{
    color: rgb(255, 255, 255);
    background-color: #3a4249;
}

.all{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column;
    margin-top: 20px;
}

.font{
    font-size: 17px;
}